<nav class="blue-grey darken-2">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo" style="padding-left: 10px">Blog Motoryzacyjny</a>
    <a href="" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="isAdmin"><a [routerLink]="['/add-article']">Dodaj Artykuł</a></li>
      <li *ngIf="logged"><a [routerLink]="['/articles']">Wszystkie artykuły</a></li>
      <li *ngIf="!logged"><a [routerLink]="['/login']">Zaloguj się</a></li>
      <li *ngIf="logged" [routerLink]="['/edit-user']"><a>Moje konto</a></li>
      <li *ngIf="logged"><a (click)="logout()">Wyloguj się</a></li>
    </ul>
  </div>
  <ul class="side-nav" id="mobile-menu">
      <li *ngIf="isAdmin"><a [routerLink]="['/add-article']">Dodaj Artykuł</a></li>
      <li *ngIf="logged"><a [routerLink]="['/articles']">Wszystkie artykuły</a></li>
      <li *ngIf="!logged"><a [routerLink]="['/login']">Zaloguj się</a></li>
      <li *ngIf="logged" [routerLink]="['/edit-user']"><a>Moje konto</a></li>
      <li *ngIf="logged"><a (click)="logout()">Wyloguj się</a></li>
  </ul>
</nav>
