.comment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.title {
  grid-column: 1;
}

.username {
  grid-column: 2;
  text-align: right;
}

.date {
  grid-column: 2;
  text-align: right;
}

.content {
  grid-column: 1/3;
}

.modal {
  max-height: 90%;
}

.modal-form-row {
  margin-bottom: 0px;
}
